<form (ngSubmit)="onSubmit()" #reviewForm="ngForm">
  <div class="container">
    <h2 class="text-center"><strong>Add a new Post</strong></h2>
    <div class="row">
      <input placeholder="Product Type" id="product" name="product" type="text" [(ngModel)]="post.product" required>
      <input placeholder="Product Description" id="description" name="description" type="text" [(ngModel)]="post.description" required>
    </div>
    <div class="row">
      <input placeholder="Pick-up Location" id="location" name="location" type="text" 
      [(ngModel)]="post.location" required>
      <input placeholder="Expiration Date" id="expiration_date" name="expiration_date" type="text" [(ngModel)]="post.expiration_date" required>
      <input placeholder="Post's Image" id="image" name="image" type="file" 
      [(ngModel)]="post.image" required>
      <input placeholder="Profile Picture" id="image" name="image" type="file"
       [(ngModel)]="post.image" required>
     <input placeholder="Post Message" id="info" name="info" type="text"
      [(ngModel)]="post.info" required>
    </div>
    <button type="submit" href="#" routerLink="/explore" class="btn btn-primary">Submit</button>
  </div>
</form>