img:hover {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

#lp {
 background-color: #ffff;
 width: 100vw;
 position: relative;
 margin-left: -50vw;
 height: 360px;
 margin-top: 40px;
 left: 50%;
 text-align: center;
}

.container {
  padding-top: 3.5rem;
  padding-bottom: 3rem;
}

img {
	max-width: 100%;
	height: auto;
}