    <div class="container">
      <div class="row" *ngFor="let post of posts" class="col-sm"
           routerLink="/posts/{{post.id}}">
        <div class="column">
          <div class="col-lg-6 offset-lg-3" style="height: 50%">

            <div class="cardbox shadow-lg bg-white">

            <div class="cardbox-heading">
              <div class="media m-0">
                <div class="d-flex mr-3">
                  <a href=""><img class="img-fluid rounded-circle" src="http://www.themashabrand.com/templates/bootsnipp/post/assets/img/users/4.jpg" alt="User"></a>
                </div>
              <div class="media-body">
                <small><i class="icon ion-md-pin"></i>{{ getUser() }}</small>
                <small><i class="icon ion-md-time"></i>Uploaded: {{ post.upload_date }}</small>
              </div>
            </div>
          </div>

            <div class="cardbox-item">
              <img class="img-fluid" src="https://images.milkandmore.co.uk/image/upload/w_iw/f_auto/w_380,d_back_up_image.jpg,c_scale/v1/products/2004514_1.jpg"
                   style="width: 100%" alt="Image">
            </div>
            <div class="cardbox-base">
              <ul class="req">
                <li><a href="#" routerLink="/register" class="btn btn-primary1 shadow mr-2">Request Item</a></li>
              </ul>
            </div>
            </div>
          </div>
        </div>
      </div>

    <div class="col-lg-4">
      <a class="btn icon-btn btn-primary btn pull-right" data-toggle="modal" data-target="#postModal"
         style="font-size: 2.8rem; line-height: 0.9; font-weight: 100; color: white;"> + </a>
    </div>
</div>


