<section id="lp">
	<div class="container">
		<img src="/../../assets/img/e.jpg">
	</div>
	<h1 style="color: #434343;"><strong>Businesses as Partners</strong></h1><br/>
		<p class="lead">Whether you’re a supermarket, bakery, deli, restaurant, corporate canteen or market, FoodShare's Food Waste<br>
		programme can provide volunteers to pick up and redistribute your unsold food at the end of the day.<br>
			In this way, you will gain the above benefits: </p>
			<ul style="text-align: left; padding-left: 250px;">
				<li>24/7 pick ups
				<li>Minimal operational disruption</li>
				<li>All food types accepted</li>
				<li>Approved Food Safety Management System</li>
			</ul>
</section>

