<ng-template #rt let-r="result" let-t="term">
    <ngb-highlight [result]="r.product" [term]="t"></ngb-highlight>
</ng-template>

<form class="search">
  <div class="search__wrapper">
      <input id="search-box"
         placeholder="Search for.." 
         type="text"
         name="search"
         class="search__field"
         [class.alert-warning]="searchFailed"
         (selectItem)="selectedItem($event)"
         [(ngModel)]="model"
         [ngbTypeahead]="search"
         [resultTemplate]="rt"
         [inputFormatter]="formatter"/>    
         <button type="submit" class="fa fa-search search__icon"></button>
  </div>
</form>