<section id="title">
  <div class="title-holder">
    <h1 id="do"><strong>Supporters</strong></h1>
  </div>
</section>
<section id="lp">
<div class="container">
	<div class="row"> 
		<div class="col-lg-3 order-1 order-lg-1">
  			<h4><a href="#" routerLink="/about">What We Do</a></h4><br>
  			<h4><a href="#" routerLink="/about/vision">Our Vision</a></h4><br>
  			<h4><a href="#" routerLink="/about/team">Our Team</a></h4><br>
  		</div>
        <div class="col-lg-6 order-2 order-lg-3" style="padding-right: 50px; padding-left: 50px;">
  			<p class="lead">FoodShare is currently trying to form partnerships with various stakeholders in order to achieve its goals. Conversations are being made with the Food Bank, in order to accomplish growin a big network of volunteers and shelters to provide food. Nevertheless, Starbucks Greece also confronts a big issue while having to throw away their surplus food and they are very intrested on sitting with us and forming a possible collaboration. Our official version of this specific page will be formed really soon, providing our gratitude to all of our supporters.</p>
  		</div>
        <div class="col-lg-3 order-3 order-lg-6">
        	<blockquote>
        		<p>FoodShare will be your best friend</p>
        	</blockquote>
        </div>
  	</div>
</div>
</section>
