<section id="lp">
<div class="container"> 
      <div class="row">
        <div class="col-lg-6 order-2 order-lg-1">
          <h1><strong>Save the world,</strong></h1>
          <h1><strong>One plate at a time.</strong></h1>
          <p class="lead">FoodShare connects households, restaurants and local communities so that surplus food can be shared, not thrown away.</p>
          <p class="lead">Based in Greece, FoodShare is here to reach all people who love food, hate waste, care about the environment and want to help each other.</p>
          <p><a href="#" routerLink="/register" class="btn btn-primary shadow mr-2">Join Now</a><a (click)="move()" class="btn btn-outline-primary">Discover More</a></p>
        </div>
        <div class="col-lg-6 order-1 order-lg-2"><img src="/../../assets/img/nn.png" alt="" class="img-fluid"></div>
      </div>
</div>
</section>
<section #counters id="counters">
  <br/>
  <div class="row text-center">
    <div class="col">
      <div class="counter">
        <i class="fa fa-trash-o fa-2x"></i>
        <h2 class="timer count-title count-number" data-to="100" data-speed="1500">
          <tones-counter> </tones-counter>
        </h2>
          <p class="count-text "><strong>Tones Wasted</strong></p>
      </div>
    </div>
    <div class="col">
      <div class="counter">
        <i class="fa fa-user-o fa-2x"></i>
        <h2 class="timer count-title count-number" data-to="100" data-speed="1500">
          <users-counter></users-counter>
        </h2>
          <p class="count-text "><strong>Users</strong></p>
      </div>
    </div>
    <div class="col">
      <div class="counter">
        <i class="fa fa-heart-o fa-2x"></i>
        <h2 class="timer count-title count-number" data-to="11900" data-speed="1500">
          <donations-counter></donations-counter>
        </h2>
          <p class="count-text "><strong>Donations</strong></p>
      </div>
    </div>
  </div>
</section>


<section id="about">
<div class="container" style="padding-top: 1rem; text-align: center;"> 
  <h1 style="color: #434343;"><strong>Introducing FoodShare</strong></h1>
    <br/>
      <content-box></content-box>
      <br/>
      <div class="info">
        <h3 style="color: #434343;"><strong>Got food?</strong></h3>
          <p class="lead">Whether you’re a household or business, adding to FoodShare is easy.<br> 
                          Simply snap a photo, add a brief description and provide pick-up details.<br> 
                          A lovely neighbour will be delighted to take it off your hands.</p>
          <br/>
        <h3 style="color: #434343;"><strong>Need food?</strong></h3>
          <p class="lead">Browse what’s available nearby (all is free), request anything that <br> 
                          takes your fancy and message to arrange a pick-up.</p> 
          <br/>
        <h3 style="color: #434343;"><strong>Meet your neighboors</strong></h3>
          <p class="lead">One of the things our users love most about FoodShare is the opportunity <br> 
                          to meet their neighbours from all walks of life.</p>
      </div>
</div>
</section>

<div class="scroll-to-top" [ngClass]="{'show-scrollTop': windowScrolled}">
  <a (click)="scrollToTop()">
      <i class="fa fa-angle-double-up fa-2x"></i>
  </a>
</div>

<!--<div class="page-footer">
  © 2019 FoodShare. All rights reserved | Food being shared
</div>-->





