<section id="lp">
<div class="container"> 
      <div class="row">
        <div class="col-lg-6 order-2 order-lg-1">
          <h1><strong>Save the world,</strong></h1>
          <h1><strong>One plate at a time.</strong></h1>
          <p class="lead">FoodShare connects households, restaurants and local communities so that surplus food can be shared, not thrown away.</p>
          <p class="lead">Based in Greece, FoodShare is here to reach all people who love food, hate waste, care about the environment and want to help each other.</p>
          <p><a href="#" routerLink="/register" class="btn btn-primary shadow mr-2">Join Now</a><a href="#" class="btn btn-outline-primary">Discover More</a></p>
        </div>
        <div class="col-lg-6 order-1 order-lg-2"><img src="/../../assets/img/nn.png" alt="" class="img-fluid"></div>
      </div>
</div>
</section>
<section id="counters">
  <br/>
  <div class="row text-center">
    <div class="col">
      <div class="counter">
        <i class="fa fa-trash-o fa-2x"></i>
        <h2 class="timer count-title count-number" data-to="100" data-speed="1500">
          <tones-counter> </tones-counter>
        </h2>
          <p class="count-text "><strong>Tones Wasted</strong></p>
      </div>
    </div>
    <div class="col">
      <div class="counter">
        <i class="fa fa-user-o fa-2x"></i>
        <h2 class="timer count-title count-number" data-to="100" data-speed="1500">
          <users-counter></users-counter>
        </h2>
          <p class="count-text "><strong>Users</strong></p>
      </div>
    </div>
    <div class="col">
      <div class="counter">
        <i class="fa fa-heart-o fa-2x"></i>
        <h2 class="timer count-title count-number" data-to="11900" data-speed="1500">
          <donations-counter></donations-counter>
        </h2>
          <p class="count-text "><strong>Donations</strong></p>
      </div>
    </div>
  </div>
</section>
<section id="about">
  <br/>

</section>



