.navbar-light .navbar-nav .nav-link {
	color: #0062cc;
}

.navbar .brand, .navbar .nav > li > a {
    color: #D64848;
}
.navbar .brand, .navbar .nav > li > a:hover {
    color: #F56E6E;
}

.navbar-nav .nav-item .nav-link {
    color: #007bff;
}
.navbar-nav .nav-item.active .nav-link,
.navbar-nav .nav-item:hover .nav-link {
    color: #0032cc;
}

.navbar-nav > li{
  margin-left: 5px;
  margin-right: 5px;
}
