<div class="container">
<nav class="navbar navbar-expand-md navbar-dark fixed-top" style="background-color: rgb(100, 139, 208)">
    <a class="navbar-brand" href="#" routerLink="/home">FoodShare</a>
    <button class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link"
             routerLink="/home"
             href="#">Home
            <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link"
             routerLink="/posts"
             href="#">Explore</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link"
             routerLink="/posts"
             href="#">Donate</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link"
             routerLink="/posts"
             href="#">Profile</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link"
             routerLink="/posts"
             href="#">Sign Up</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link"
             routerLink="/login"
             href="#">
            {{ auth.isLoggedIn ? 'Logout' : 'Login' }}</a>
        </li>

      </ul>
    </div>
  </nav>

  <router-outlet></router-outlet>
  <app-messages></app-messages>
</div>