<form #checkout="ngForm" (ngSubmit)="onSubmit(checkout)" class="checkout">
  <h2 class="text-center"><strong>Make a Donation</strong></h2>
  <div class="form-row">
      <input #user placeholder="Username" id="username" type="text" required>
      <input #name placeholder="Name" id="name" type="text" required>
  </div>
      <div class="form-row">
        <input #duration placeholder="Duration" id="duration" type="text" required>
        <input #amount placeholder="Amount" id="amount" type="text" required>
    </div>
    <div class="form-row">
        <input #message placeholder="Message" id="message" type="text" required>
    </div>
  <div class="form-row">
    <label for="card-info" style="padding-left: 23px;">Card Info</label>
    <div id="card-info" #cardInfo></div>

    <div id="card-errors" role="alert" *ngIf="error">{{ error }}</div>
  </div>

  <button type="submit" (click)="add(user.value, name.value, amount.value, duration.value, message.value)">Donate $</button>
</form>