<section id="title">
  <div class="title-holder">
    <h1 id="do"><strong>Our Team</strong></h1>
  </div>
</section>
<section id="lp">
<div class="container">
	<div class="row"> 
		<div class="col-lg-3 order-1 order-lg-1">
  			<h4><a href="#" routerLink="/about">What We Do</a></h4><br>
  			<h4><a href="#" routerLink="/about/vision">Our Vision</a></h4><br>
  			<h4><a href="#" routerLink="/about/support">Supporters</a></h4><br>
  		</div>
        <div class="col-lg-6 order-2 order-lg-3" style="padding-right: 50px; padding-left: 50px;">
  			<p class="lead">It's our first time working as a group, although in past years some of us have collaborated  together in different projects. We are very delighted with our teamwork and the cooperation between the team members, as we managed to work on a high level and achieve most of our project goals. Our team roles where agreed from the beginning of the project so everyone would have specific tasks and the best field of work, according to his skills. Team meetings were held every week.</p>
  		</div>
        <div class="col-lg-3 order-3 order-lg-6">
        	<blockquote>
        		<p>Our team is our power</p>
        	</blockquote>
        </div>
  	</div>
</div>
</section>
<section id="about">
<div class="container" style="padding-top: 1rem; text-align: center;"> 
  <h1 style="color: #434343;"><strong>Our Team</strong></h1>
    <br/><br/>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="../../assets/img/gk.png" alt="card image"></p><br/>
                                    <h4 class="card-title">Georgios Kontosis</h4>
                                    <p class="card-text">Founder & Web Developer</p>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">Background</h4><br/>
                                    <p class="card-text">Former branch administrator at GPK Exchange S.A. , developper at Athens Startup Weekend 2017 and various volunteering experiences. Knowledge on how to build a site and design the user interface-experience. Role within the team: Web app development and design, internal processes and public relations.</p><br/>
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="https://www.linkedin.com/in/georgioskontosis/">
                                                <i class="fa fa-linkedin fa-2x"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="https://github.com/gkodosis">
                                                <i class="fa fa-github fa-2x"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="../../assets/img/naf.png" alt="card image"></p><br/>
                                    <h4 class="card-title">Nafsika Lamprinopoulou</h4>
                                    <p class="card-text">Digital Marketing</p>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">Background</h4><br/>
                                    <p class="card-text">Digital marketing and software development skills with various experience built throughout university projects. Passionate for the aesthetic view of our company. Role within the team: Digital marketing, public relations and design.</p><br/><br/>
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="https://www.linkedin.com/in/nafsika-lamprinopoulou-800a82a6/">
                                                <i class="fa fa-linkedin fa-2x"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="../../assets/img/bak.png" alt="card image"></p><br/>
                                    <h4 class="card-title">Iason Bakas</h4>
                                    <p class="card-text">Web Developer</p>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">Background</h4><br/>
                                    <p class="card-text">Experience on software development and web app development from various university projects. Skills on web app development, organizing tasks and communication. Role within team: Web app development, task scheduling and public relations.</p><br/><br/>
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="https://github.com/iasonasbakas">
                                                <i class="fa fa-github fa-2x"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="../../assets/img/vgo.jpg" alt="card image"></p><br/>
                                    <h4 class="card-title">Georgios Vgontzas</h4>
                                    <p class="card-text">Finacials & PR</p>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">Background</h4><br/>
                                    <p class="card-text">Professional experience on Information Systems and Finance due to his work at Impact company. Main skills could be summed up as communicating with other businesses, organizing tasks and analyzing financial evidence. Role within team: Financial analysis and communication with our customers.</p><br/>
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="https://www.linkedin.com/in/george-vgontzas-3a489812b/">
                                                <i class="fa fa-linkedin fa-2x"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="../../assets/img/kot.jpeg" alt="card image"></p><br/>
                                    <h4 class="card-title">Georgios Kottis</h4>
                                    <p class="card-text">PR & Sales</p>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">Background</h4><br/>
                                    <p class="card-text">Logistics skills and further experience on public relations. Responsible for the organisation of distribution and all the necessary legal obligations. Role within the team: Logistic analysis, public relations and legal obligations management.</p><br/><br/>
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="https://www.linkedin.com/in/george-kottis-a49013144/">
                                                <i class="fa fa-linkedin fa-2x"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

