{% extends "fs/base.html" %}

{% block content %}
<ul class="list-group">
  <li class="list-group-item">
    Product:
      <a>{{ post.product.name }}</a>
  </li>
  <li class="list-group-item">
    Uploader:
        <a href="{% url 'fs:user' user.id %}">{{ post.user.username }}</a>
  <li class="list-group-item">
    Description: {{ post.description }}
  </li>
    <li class="list-group-item">
    Location: {{ post.location }}
  </li>
  <li class="list-group-item">
    Date posted: {{ post.upload_date }}
  </li>
    <li class="list-group-item">
    Time posted: {{ post.time }}
  </li>
  <li class="list-group-item">
    Expiration Date: {{ post.expiration_date }}
  </li>
</ul>
{% endblock %}