{% extends "fs/base.html" %}

{% block content %}
<!--<ul class="list-group">
  <li class="list-group-item">
    Product:
      <a>{{ post.product.name }}</a>
  </li>
  <li class="list-group-item">
    Uploader:
        <a href="{% url 'fs:user' user.id %}">{{ post.user.username }}</a>
  <li class="list-group-item">
    Description: {{ post.description }}
  </li>
    <li class="list-group-item">
    Location: {{ post.location }}
  </li>
  <li class="list-group-item">
    Date posted: {{ post.upload_date }}
  </li>
    <li class="list-group-item">
    Time posted: {{ post.time }}
  </li>
  <li class="list-group-item">
    Expiration Date: {{ post.expiration_date }}
  </li>
</ul>-->

<div class="card mb-3">
  <div class="media">
    <div class="media-left media-top">
      &nbsp;<img src="https://a.deviantart.net/avatars/f/k/fkyhdino.png?5" class="media-object thumbnail" alt="member1">
    </div>
    <div class="media-body">
      <h3 class="media-heading"><small>&nbsp;{{ post.user.username }}</small>&nbsp;<font color="green"><small>{{ post.location }}</small></font></h3>
      <p>&nbsp;&nbsp;{{ post.product.name }}</p>
      <p>&nbsp;&nbsp;{{ post.description }}</p>
      <p>&nbsp;&nbsp;{{ post.expiration_date }}
    </div>
  </div>
  <hr class="my-0">
    <div class="card-body py-2 small">
      <a class="mr-3 d-inline-block" href="#interestedModal"  data-toggle="modal" data-target="#interestedModal">
        <i class="fa fa-fw fa-thumbs-up"></i>Interested</a>
          <a class="mr-3 d-inline-block" href="#">
            <i class="fa fa-fw fa-comment"></i>Message</a>
    </div>
  <div class="card-footer small text-muted">{{ post.upload_date }} {{ post.time }}</div>
</div>
{% endblock %}