<div class="container">

  <span [ngSwitch]="auth.isLoggedIn">
    <span *ngSwitchCase="false">
<div class="container2">
  <h2 class="text-center"><strong>Login</strong></h2>
  <div class="row">
      <input #username placeholder="Username" id="username" type="username" required>
      <input #password placeholder="Password" id="password" type="password" required>
  </div>
        <button (click)="login(username.value, password.value)"
                class="btn btn-primary"
                type="submit">Sign in</button>
              </div>
    </span>
    <span *ngSwitchCase="true">
      <div class="container2">
        <h2 class="text-center">Are you sure you want to logout?</h2>
        <button (click)="logout()"
                class="btn btn-primary">Logout</button>
      </div>
    </span>
</span>
</div>