<section id="title">
  <div class="title-holder">
    <h1 id="do"><strong>Our Vision</strong></h1>
  </div>
</section>
<section id="lp">
<div class="container">
	<div class="row"> 
		<div class="col-lg-3 order-1 order-lg-1">
  			<h4><a href="#" routerLink="/about">What We Do</a></h4><br>
  			<h4><a href="#" routerLink="/about/team">Our Team</a></h4><br>
  			<h4><a href="#" routerLink="/about/support">Supporters</a></h4><br>
  		</div>
        <div class="col-lg-6 order-2 order-lg-3" style="padding-right: 50px; padding-left: 50px;">
  			<p class="lead">Our team consists of a group of 5 people with the ultimate goal of reducing food waste and at the same time helping people in need by donating them extra food coming from households, restaurants, supermarkets and hotels. Our overall vision is to establish a national community where people from various regions and social classes both have an easy and instant access to food and try to expand to other countries with the largest food wastage problem.</p>
  		</div>
        <div class="col-lg-3 order-3 order-lg-6">
        	<blockquote>
        		<p>Save the world, One plate at a time</p>
        	</blockquote>
        </div>
  	</div>
</div>
</section>
