.container {
  padding-top: 8rem;
  padding-bottom: 5rem;
}

h1 {
  color: #1fa53d;
}

#lp {
 background-color: #ffff;
 width: 100vw;
 position: relative;
 margin-left: -50vw;
 height: 580px;
 margin-top: 40px;
 left: 50%;
}