<section id="title">
  <div class="title-holder">
    <h1 id="do"><strong>What We Do</strong></h1>
  </div>
</section>
<section id="lp">
<div class="container">
	<div class="row"> 
		<div class="col-lg-3 order-1 order-lg-1">
  			<h4><a href="#" routerLink="/about/vision">Our Vision</a></h4><br>
  			<h4><a href="#" routerLink="/about/team">Our Team</a></h4><br>
  			<h4><a href="#" routerLink="/about/support">Supporters</a></h4><br>
  		</div>
        <div class="col-lg-6 order-2 order-lg-3" style="padding-right: 50px; padding-left: 50px;">
  			<p class="lead">FoodShare connects neighbours with each other and with local businesses so surplus food can be shared, not thrown away. This could be food nearing its sell-by date in local stores, spare home-grown vegetables, bread from your baker, or the groceries in your fridge when you go away. For your convenience, FoodShare can also be used for non-food household items too. FoodShare is super easy! To make an item available, simply open the app, add a photo, description, and when and where the item is available for pick-up. To access items, simply browse the listings available near you, request whatever takes your fancy and arrange a pick-up via private messaging. Here at FoodShare we believe that small actions can lead to big change. Collectively – one rescued cupcake, carrot or bottle of lotion at a time – we can build a more sustainable future where our most precious resources are shared, not thrown away. Join today!</p>
  		</div>
        <div class="col-lg-3 order-3 order-lg-6">
        	<blockquote>
        		<p>FoodShare will be your best friend</p>
        	</blockquote>
        </div>
  	</div>
</div>
</section>
