<div class="vc_row wpb_row section vc_row-fluid  grid_section" style=' padding-top:60px; padding-bottom:60px; text-align:left;'>
	<div class=" section_inner clearfix">
		<div class='section_inner_margin clearfix'>
			<div class="wpb_column vc_column_container vc_col-sm-12">
				<div class="vc_column-inner "><div class="wpb_wrapper">
					<div class="vc_row wpb_row section vc_row-fluid vc_inner " style=' padding-bottom:15px; text-align:center;'>
						<div class=" full_section_inner clearfix">
							<div class="wpb_column vc_column_container vc_col-sm-12">
								<div class="vc_column-inner ">
									<div class="wpb_wrapper">
										<div class="wpb_text_column wpb_content_element ">
											<div class="wpb_wrapper">
												<h1><strong>FAQs</strong></h1>
											</div> 
										</div>
	 								</div>
								</div>
							</div>
						</div>
					</div>
				<div class="vc_row wpb_row section vc_row-fluid vc_inner "style='text-align:left;'>
					<div class=" full_section_inner clearfix">
						<div class="wpb_column vc_column_container vc_col-sm-6">
							<div class="vc_column-inner ">
								<div class="wpb_wrapper">
									<div class="wpb_text_column wpb_content_element ">
										<div class="wpb_wrapper">
											<p><strong>Q: What sort of business is appropriate?</strong><br />
													   A: Any business with surplus food, which they do not want to go to waste.</p>
											<p><strong>Q: Does it matter how often I have surplus food available?</strong><br />
													   A: No! We can either provide a regular service with a daily/weekly rota of volunteers, who are connected to one another via group messaging to arrange any cover/holidays as required. Or you can let our volunteers know on an ad-hoc basis as and when you’ve got surplus food available for collection.</p>
											<p><strong>Q: What if I already have charitable collections in place?</strong><br />
													Many of our partners have existing charitable partnerships in place and we collect food when charities are unable to.</p>
										</div> 
									</div>
	 							<div class="vc_empty_space" style="height: 12px" >
	 								<span class="vc_empty_space_inner">
										<span class="empty_space_image"  ></span>
									</span>
								</div>
							</div>
						</div>
					</div>
				<div class="wpb_column vc_column_container vc_col-sm-6">
					<div class="vc_column-inner">
						<div class="wpb_wrapper">
							<div class="wpb_text_column wpb_content_element">
								<div class="wpb_wrapper">
									<p><strong>Q: Do the FWHs have any training?</strong><br />
											   A: We&#8217;ve developed a robust and easy-to-apply Food Safety Management System (FSMS) that all Food Waste Heroes adhere to. It&#8217;s easy to use yet sophisticated enough to ensure all types of food are distributed in a safe way. Our FSMS, which we created with input from the FSA, is approved by our Primary Authority and based on a <a href="https://olioex.com/wp-content/uploads/2018/05/OLIO-HACCP-Study-V-1.0-June-2017.pdf" target="_blank" rel="noopener">Hazard Analysis Critical Control Points
											   </a> study.</p>
									<p><strong>Q: Is there any cost associated with the programme?</strong><br />
											   A: We offer all prospective clients a free pilot. Depending on the size of your operations and your reporting requirements (# of meals saved, CO2 diverted, etc.), the service is either free or we charge a small fee to cover our operating costs (set up fee + from 2 euros per collection).</p>
										<div>There is no charge for collections established directly between volunteers and businesses without the support of FoodShare.</div>
									<p><strong>Q: Where is this available?</strong><br />
											   A: Currently our surplus food redistribution is available in Greece.</p>
								</div> 
							</div> 
						</div>
					</div>
				</div>
			</div>
		</div>	